.whole{
    border-style: groove;
    margin: 10px;
    border-color: #fffb09;
    margin-top: 10vh;
    box-shadow: 10 4px 8px rgba(0, 0, 0, 0.1);
    
}

.entry {
    margin-top: none;
    text-align: right;
}


.login-btn{
    color: #016f32;
    background: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 4px rgba(224, 224, 224, 0.39);
    width: 100px;
    margin-top: -5vh;
    
}
.login-btn:hover {
    background: hsl(187, 100%, 50%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.signup-btn {
    color: #016f32;
    background: goldenrod;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(224, 224, 224, 0.39);
    width: 100px;
    margin-top: -5vh;
}
.signup-btn:hover {
    background: hsl(187, 100%, 50%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 22px;
    
}

body .navbar {
    display:contents;
    text-align: right;
}

h1 {
    color: rgb(244, 248, 5);
}

#message-el {
    font-style: italic;
    margin-bottom: 20px;
    font-display:initial;
}

.name {
    height: 20px;
    font-size: 12px;
    text-align: center;
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
}

.action-btn {
    color: #016f32;
    background: goldenrod;
    padding: 5px;
    
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    font-size: 12px;
}

.action-btn:hover {
    background: #fffb09;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.action-btn:active {
    transform: scale(0.96);
    box-shadow: none;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* Media Queries */
/* Medium Screens */
@media (max-width: 768px) {
    .name {
        width: 40%;
        margin: 5px;
    }

    .action-btn {
        width: 40%;
        margin: 5px;
    }
}

/* Small Screens */
@media (max-width: 480px) {
    .action-btn {
        width: 80%;
        margin: 5px auto;
        display: block;
    }
}
